*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: white;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
    width: 100%;
    /* background: darkgray; */
}

#navbar a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#navbar h4{
    font-size: 16px;
    font-weight: 400;
}

#heading{
    margin-top: 80px;
}

#heading h1{
    margin-left: 40px;
    opacity: 0.7;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 0.9;
}

#heading #secondH1{
    margin-left: 10vw; 
}

.heading2{
    width: fit-content;
}

.heading2 h5{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
    font-weight: 400 ;
}

#subHeadings{
    margin-top: 10vw;
    padding-right: 48px;
}

#subHeadings h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 0.8;
}

#herofooter{
    padding: 0 2vw;
    position: absolute;
    width: 100%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase; 
}


#section2{
    padding: 10vh 5vw;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}

#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-image: linear-gradient(150deg, rgba(255, 215, 253, 0.164), rgba(0, 174, 255, 0.05));
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 24px rgba(94, 94, 94, 0.637);
}

#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    width: 90%;
    border-bottom: 1px solid rgb(87, 87, 87);
}

#projects h1{
    text-transform: uppercase;
    font-size: 8vh;
    padding: 1vw 0vw;
    opacity: .7;
    font-weight:400;
}

.lastProject{
    height: 100px;
    border-bottom-color: red;
}

#projects img{
    display: none;
    height: 20%;
    z-index: 999;
    position: absolute;
}