*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#circle-cursor{
    transition: cubic-bezier(1, 1, 1, 1) all 0.1s;
    width: 10px;
    height: 10px;
    z-index: 99999;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}

.bounds{
    width: fit-content;
    overflow: hidden;
}

.bounds .boundingelem{
    transform: translateY(110%);
    transition: h1 0.5s ease-out;
}

#main{
    width: 100%;
    background-color: #000000;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: white;
    position: relative;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
    width: 100%;
    /* background: darkgray; */
}

#navbar a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#navbar h4{
    font-size: 16px;
    font-weight: 400;
}

#heading{
    margin-top: 80px;
}

#heading h1{
    margin-left: 40px;
    opacity: 0.7;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 0.9;
}

#heading #secondH1{
    margin-left: 10vw; 
}

.heading2{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.heading2 h5{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
    font-weight: 400 ;
}

#subHeadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10vw;
    padding-right: 48px;
}

#subHeadings h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 0.8;
}

#herofooter{
    padding: 0 2vw;
    position: absolute;
    width: 100%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase; 
}


#section2{
    padding: 10vh 5vw;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}

.elem{
    width: 100%;
    padding: 4vw 3vw;
    
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    width: 90%;
    position: relative;
    border-bottom: 1px solid rgb(87, 87, 87);
}

.elem h1{
    text-transform: uppercase;
    font-size: 8vh;
    padding: 1vw 0vw;
    opacity: .7;
    font-weight:400;
}

.elemLast{
    border-bottom: none;
}

.elem img{
    opacity: 0;
    height: 140%;
    z-index: 999;
    position: absolute;
}

#section3{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    padding: 0px 40px;
    position: relative;
}

#introBanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 27vw;
    gap: 50px;
    height: 75vh;
}

#introBanner img{
    height: 30vh;
    border-radius: 50%;
}

#aboutMe{
    width: 25rem;
    height: 40%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#aboutMe h4{
    line-height: 2;
    opacity: 0.7;
    font-weight: normal;
    text-transform: uppercase;
}

#aboutMe p{
    line-height: 1.5;
    padding-bottom: 30px;
}

#aboutMe a{
    text-decoration: none;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    padding: 5px 20px;
}

#youtube{
    text-transform: uppercase;
}

#youtube h5{
    font-weight: 500;
    font-size: 14px;
    opacity: 0.7;
}

#endFooter{
    position: absolute;
    bottom: 3%;
    right: 2vw;
    left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftFooter{
    width: 7%;
    display: flex;
    justify-content: space-between;
}

#rightFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#rightFooter a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}